<nav>
  <ul>
    <li><a href="alaska">ALASKA</a></li>
    <li><a href="canadaWest">CANADA</a></li>
    <li><a href="canadaEast">QUEBEC</a></li>
    <li><a href="merica">AMERICA</a></li>
    <li><a href="mexico">MEXICO</a></li>
  </ul>
</nav>