<% include partials/header %>




<!-- <% include partials/beerSign %> -->

<% include partials/nav %>
<!-- <% include partials/talkBubble %> -->
<% include partials/form %>
<h1> <%= name %> translation: <%= translation %> </h1>

<% include partials/map %>

<% include partials/beermug %>





<% include partials/footer %>
